*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* intestazione */
.row::after{
    content: "";
    display: table;
    clear: both;
}

header{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 500;
}

.clsx{
    float: left;
    padding: 10px;
        /* debug */
        /* background-color: aqua;
        height: 100px;
        width: 30px; */
}

.cldx{
    float: right;
    padding: 10px;
    /* debug */
    /* background-color: aqua;
    height: 100px;
    width: 30px; */
}

nav div a {
    text-decoration: none;
    color: black;
}

.iniziabut{
    background-color: rgb(9, 120, 247);
    color: white;
    text-decoration: none;
    padding: 10px;
}

#ibut{
    padding: 5px;
}

nav:hover a{
    padding: 15px;
    
    border-bottom: 2px solid blue;
}

    /* menu a tendina  */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

        /*  fine menu a tendina */



/* jumbotron */
#jumbo{
    background-color: #b4d0e7;
    height: 85vh;
    min-height: 400px;
    width: 100%;
    
   
    
}

.container-big{
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}
#jumbo .container-big h1{
    padding-top: 100px;
    font-size: 55px;
    
}
.colonnasx{
    float: left;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    

    /* debug */
    /* background-color: red; */
}

.colonnadx{
    float: left;
    width: 60%;
    padding: 20px;

    
}

.paragrafo{
    
    line-height: 20px;
    margin-bottom: 30px;
}


img{
    max-width: 100%;
}
#freccia{
    margin-top: 30px;
    font-size: 30px;
    text-decoration: none;
    color: black;
   
}

/* corpo centrale */
.container-medium{
    width: 80%;
    margin: 0 auto;
    max-width: 1180px;
}
    /* sezioni paini business */
  
    .titolone{
        font-size: 40px;
        margin: 100px 0 30px;
        font-weight: 500;
        

  }
    #cerchio{
      display: inline;
  }

        /* colonne */
  .piano{
      float: left;
      width: 30%;
      margin-top: 30px;
      /* padding: 10px; */
      border: solid 1px rgb(184, 184, 184);
      height: 1000px ;
  }

  #pcentrale{
      margin: 30px 50px;
  }
  
  .int-box{
      text-align: center;
      padding: 5px;
      border-bottom: solid 1px rgb(184, 184, 184);
  }
  .contenitore{
      padding: 20px;
  }
  .contenitore ul li{
    list-style: none;
    margin-bottom: 30px;
    margin-top: 20px;
    
  }
 .contenitore h3,  h5 {
    font-weight: bold;
    margin-bottom: 15px;
    
    
 }

 .contenitore h3{
     font-size: 25px;
 } 

 .periodo{
     color: grey;
     font-size: 12px;
    
 }

 .contenitore h4{
     margin-top: 50px;
     font-size: 18px;
     font-weight: bold;
 }
 .opp{
     padding-bottom: 30px;
     border-bottom: solid 1px rgb(184, 184, 184);
 }

 .check{color: rgb(9, 120, 247);
}
/* quarto blocco */
#quarto-blocco{
    width: 100%;
    margin-top: 20px;
    height: 200px;
    float: left;
    border: solid 1px rgb(184, 184, 184);
    

}
.enterprice{
    float: left;
    width: 75%;
}

#ufficio-vendite{
        float: right;
        width: 25%;
        
        
    }

    /* sezione partner dropbox  */

   
 .colonnaimg{
     width: 50%;
     float: left;
     margin-top: 100px;
     margin-bottom: 20px;

 }   
 .colonnatext{
     width: 40%;
     margin-left: 10%;
     float: left;
     margin-top: 120px;
     margin-bottom: 20px;
 }

 #partner-button{
     color: black;
     border: solid 1px black;
     text-decoration: none;
     padding: 5px;
 }
 
 #partnertx{
     font-size: 25px;
     margin-bottom: 20px;
 }

    /* sezione Operazioni dropbox */
    .operazioni{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 30%;
        float: left;
        padding: 5px;
    }
    .operazioni-centro{
        margin: 20px 5% 20px;
        width: 30%;
        float: left;
        padding: 5px;

    }

    /* Team che utilizzano dropbox */
    .quadratobrand{
        width: 30%;
        height: 384px;
        float: left;
       
    }  



    .brandtext{
        width: 40%;
        height: 384px;
        float:left;
        background-color: rgb(253, 244, 244);
        padding: 30px;
        
    }

    .quadratini{
        float: left;
        width: 50%;
        height: 192px;
        position: relative;
       
    }
   
         /* colori quadrati */
    #qverde{
        background-color: rgb(142, 226, 142);

    }

    #qbordeux{
        background-color: rgb(65, 21, 21);
    }
    #qazurro{
        background-color: rgb(25, 146, 221);
    }
    #qrosso{
        background-color: rgb(255, 34, 0);
    }

    #qrossoscuro{
        background-color: rgb(220, 35, 35);
    }

    #qceleste{
        background-color: rgb(209, 232, 252);
    }

    #qblu{
        background-color: rgb(45, 18, 140);
    }
    #qgiallo{
        background-color: rgb(255, 230, 0);
    }

    .brandimg{
        width: 60%;
       object-fit: cover;
       filter: invert(1);
       position:absolute;
       top: 35%;
       left: 20%;
       transform: translate(-50% -50%);
        
        
    }

    #logobrand{
        width: 25%;
       object-fit: cover;
       padding-bottom: 20px;
       border-bottom: 1px solid grey ;
       margin-bottom: 20px;
    }
    #ceobrand{
        padding-bottom:  40px;
    }
  
  
  
  
    .big{
      
      height: 300px;
       background-color: #b4d0e7;
       margin-bottom: 50px;
   }

   #whitebut{
       background-color: white;
       color: black;
       
   }

   #textviola{
       color: rgb(64, 25, 64);
       font-size: 40px;
   }



   /* domande frequenti */
  
   #textdomande{
       margin-bottom: 30px;
       font-size: 25px;
   }
  
    
    .corpodomande{
       border-top: solid 1px grey;
       margin-bottom: 50px;
    }
  
   .domanda{
       
       float: left;
       padding: 10px;
       font-weight: bold;
       font-size: 15px;
       
       
       
   }
   .arrowdown{
       
       float: right;
       padding: 10px;
       
       
   }

   /* footer */

   #boxfoot{
       padding-top: 30px;
   }
   footer{
       background-color: black;
       height: 400px;
       margin-top: 100px;
   }

   .colonnafooter{
       float: left;
       width: 15%;
       margin-right: 5%;
       color: white;
       list-style-type: none;
       
   }
   .textfoot{
       margin-bottom: 10px;
       font-weight: bold;
   }

   .listafoot{
    text-decoration: none;
    color: white;
   }

   .puntifoot{
       
    list-style-type: none;
    
    
   }
   .colonnafooter ul li {
       padding: 5px;
        
   }

   #lingua{
       padding-bottom: 50px;
       border-bottom: 1px solid white;
       margin-bottom: 50px;
   }

  
  